.developmentIndex{

}

.dev-index-map{
    width: 100%;
    height: 500px;
    border-right: 1px solid #213D5C;
}

.map-card{
    background: #1F3A59;
    border-right: 2px solid #072648;
    border-top: 2px solid #072648;
    .dev-down-map{
        width: 100%;
        height: 350px;
        overflow: hidden;
    }
    .labor_td{
        width: 140px;
        text-align: left;
        padding-left: 12px;
    }
}

