/*
**@description 存放组件的公共样式
*/


//----------------------------------------iconfont--------------------------------------------------------------
@font-face {
  font-family: 'iconfont';  /* project id 531355 */
  src: url('//at.alicdn.com/t/font_531355_0oix4lo9dbtvs4i.eot');
  src: url('//at.alicdn.com/t/font_531355_0oix4lo9dbtvs4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_531355_0oix4lo9dbtvs4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_531355_0oix4lo9dbtvs4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_531355_0oix4lo9dbtvs4i.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hanglixiang:before { content: "\e642"; }
.icon-chuang:before { content: "\e619"; }
.icon-canju:before { content: "\e73c"; }
.icon-shopping:before { content: "\e602"; }
.icon-jiubei:before { content: "\e603"; }
.icon-aircraft:before { content: "\e659"; }
.icon-up:before { content: "\e607"; }
.icon-down:before { content: "\e600"; }
.icon-xiangyou:before { content: "\e606"; }
.icon-print:before { content: "\e650"; }
.icon-xiangxia:before { content: "\e610"; }
.icon-fangda:before { content: "\e6dd"; }
.icon-suoxiao:before { content: "\e66b"; }
.icon-small:before { content: "\e605"; }
.icon-big:before { content: "\e604"; }
.icon-shuaxin:before { content: "\e654"; }
.icon-download-copy:before { content: "\e601"; }

//----------------------------------------切换按钮--------------------------------------------------------------

.switch-btn-box{
  position: relative;
}
