@import "../../public";
.tourist-data {

    .sex-distribution {
        padding-left: 25px;
        padding-top: 30px;

        .total {
            img {
                float: left;
                vertical-align: middle;
            }
        }

        .male-total {
            margin-bottom: 50px;
        }
        
        .info-data {
            display: block;
            overflow: hidden;
            height: 60px;

            & > span {
                font-size: 0.7rem;
                line-height: 1.5;
                em {
                    font-size: 1.1rem;
                    padding-left: 10px;
                }
            }
            .data-bar {
                height: 15px;
                margin-top: 10px;
            }

            .male-bar {
                background-color: #00a9ff;
            }

            .female-bar {
                background-color: #32c889;
            }
        }
    }

    .economic-zone {
        top: 43px;
        left: 22px;
        width: 180px;
    }

    .flow-analysis {
        top: 15px;
        right: 260px;
        width: 180px;
    }
}

.consumption-data {

    // 全省旅游消费情况
    .province-consumption {
        .toggle-button-group {
            position: absolute;
            right: 20px;
            top: 18px;
            z-index: 50;
        }
    }

    // 入川游客来源地排名
    // 旅游消费交易分析
    // 各行业刷卡消费商户排名
    .source-place-rank,
    .consumption-trade,
    .card-consumption {
        .toggle-button-group {
            position: absolute;
            right: 30px;
            top: 68px;
            z-index: 50;
        }
    }
}

.consumption-down{
    height: 400px;
}

.modal-box{
    .consumption-down{
        height: 540px;
        font-size: 18px;
        padding: 0 40px;
        table{
            line-height: 2.5;
            td{
                font-size: 18px;
            }
        }
        .percent-bar{
            .ant-progress-outer{
                margin-right: -2.5rem;
                padding-right: 2.5rem;
            }
            .ant-progress-text{
                font-size: 18px;
            }
        }
    }
}

.table-big{
    font-size: 18px;
    padding: 0 40px 0 60px;
    line-height: 2.3;
    margin-top: 40px;
    .labor_td{
        font-size: 18px;
        width: 240px;
    }
    tr{
        td, th{
            font-size: 18px;
        }
    }
}

@include media("<=sm") {
    .tourist-data {

        .sex-distribution {
            padding-left: smpx(25);
            padding-top: smpx(30);

            .total {
                img {
                    float: left;
                    vertical-align: middle;
                }
            }

            .male-total {
                margin-bottom: smpx(50);
            }

            .info-data {
                display: block;
                overflow: hidden;
                height: smpx(60);

                & > span {
                    font-size: 0.7rem;
                    line-height: 1.5;
                    em {
                        font-size: 1.1rem;
                        padding-left: smpx(10);
                    }
                }
                .data-bar {
                    height: smpx(15);
                    margin-top: smpx(10);
                }

                .male-bar {
                    background-color: #00a9ff;
                }

                .female-bar {
                    background-color: #32c889;
                }
            }
        }

        .economic-zone {
            top: smpx(43);
            left: smpx(22);
            width: smpx(180);
        }

        .flow-analysis {
            top: smpx(15);
            right: smpx(260);
            width: smpx(180);
        }
    }

    .consumption-data {

        // 全省旅游消费情况
        .province-consumption {
            .toggle-button-group {
                position: absolute;
                right: smpx(20);
                top: smpx(18);
                z-index: 50;
            }
        }

        // 入川游客来源地排名
        // 旅游消费交易分析
        // 各行业刷卡消费商户排名
        .source-place-rank,
        .consumption-trade,
        .card-consumption {
            .toggle-button-group {
                position: absolute;
                right: smpx(30);
                top: smpx(68);
                z-index: 50;
            }
        }
    }

    .consumption-down{
        height: smpx(400);
    }
}