.tourist-data {
    .sex-distribution {
        padding-left: 25px;
        padding-top: 30px;

        .total {
            img {
                float: left;
                vertical-align: middle;
            }
        }

        .male-total {
            margin-bottom: 50px;
        }
        
        .info-data {
            display: block;
            overflow: hidden;
            height: 60px;

            & > span {
                font-size: 0.7rem;
                line-height: 1.5;
                em {
                    font-size: 1.1rem;
                    padding-left: 10px;
                }
            }
            .data-bar {
                height: 15px;
                margin-top: 10px;
            }

            .male-bar {
                background-color: #00a9ff;
            }

            .female-bar {
                background-color: #32c889;
            }
        }
    }
}

.consumption-data {

    // 全省旅游消费情况
    .province-consumption {
        .toggle-button-group {
            position: absolute;
            right: 20px;
            top: 28px;
            z-index: 1999;
        }
    }

    // 入川游客来源地排名
    // 旅游消费交易分析
    // 各行业刷卡消费商户排名
    .source-place-rank,
    .consumption-trade,
    .card-consumption {
        .toggle-button-group {
            position: absolute;
            right: 30px;
            top: 68px;
            z-index: 1999;
        }
    }
}