.panel-card {
    background-color: inherit;
    position: relative;
    height: 100%;

    .header-bg {
        background-color: #06335C;
    }

    .color-white {
        h3 {
            color: rgba(255, 255, 255, 0.95) !important;
        }
    }

    .month-top-12 {
        .month-select {
            top: 12px !important;
        }
    }

    .panel-card-header {
        padding: 18px 0 18px 22px;

        h3 {
            font-size: 0.8rem;
            color: rgba(0, 169, 255, 0.85);
            line-height: 1;
        }

        .mt-select-input {
            position: absolute;
            right: 30px;
            top: 10px;
            z-index: 100;
            width: 130px;
            padding: 5px 12px;
            border-radius: 0;
            border: 1px solid #1ce88b;
            background: transparent;
            color: rgba(255, 255, 255, 0.95);
            font-size: 0.65rem;

            .iconfont {
                color: #1ce88b;
                right: 6px;
            }

            @at-root {
                .mt-select {
                    background-color: #203a59;
                    border: 1px solid #1ce88b;
                    margin-top: -1px;
                    max-height: 160px;
                    overflow: auto;

                    .mt-select-option {
                        padding: 4px 12px;
                        font-size: 13px;
                        color: rgba(255, 255, 255, 0.8);

                        &:first-child {
                            padding-top: 6px;
                        }

                        &:last-child {
                            padding-bottom: 6px;
                        }
                    }
                }
            }
        }

        .zoom-in {
            position: absolute;
            top: 7px;
            right: 7px;

            .anticon-arrows-alt {
                font-size: 16px;
                color: rgba(0, 169, 255, 0.85);
            }
        }

        .zoom-out {
            @extend .zoom-in;
            color: rgba(0, 169, 255, 0.85);
        }
    }

    .panel-card-body {
        overflow: hidden;
        height: calc(100% - 46px);
    }

    &.bg-grey {
        background-color: #203a59;
    }
}

// 百分比
.percent-bar {
    .ant-progress-inner {
        background-color: #52667c;
        border-radius: 0;

        .ant-progress-bg {
            border-radius: 0;
            background-color: #00a9ff;
        }
    }

    &.ant-progress-show-info {
        .ant-progress-outer {
            margin-right: -1.75rem;
            padding-right: 1.75rem;
        }
    }

    .ant-progress-text {
        font-size: 0.7rem;
        margin-left: 6px;
    }
}

// 切换按钮组
.toggle-button-group {
    position: absolute;
    top: 6%;
    right: 6%;
    z-index: 100;
    ul {
        padding-left: 1px;
    }

    li {
        display: inline-block;
        margin-left: -1px;

        a {
            display: block;
            padding: 2px 15px;
            color: rgba(255, 255, 255, 0.95);
            background-color: #203a59;
            font-size: 0.65rem;
            border: 1px solid #00a9ff;

            &.active {
                background-color: #00a9ff;
                color: #072748;
            }
        }

        &:first-child > a {
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
        }

        &:last-child > a {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

}

/*---------------------------------------------------弹出框样式---------------------------------------------------------*/
/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.modal-mask {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;

    .modal-box {
        width: 720px;
        height: 540px;
        background: #fff;
        position: absolute;
        left: calc(50% - 360px);
        top: calc(50% - 270px);
    }
}

