$headerHeight: 60px;
$fontColor: rgba(255, 255, 255, 0.95);

.app-frame {
  overflow: hidden;
}

.app-header {
  height: $headerHeight;
  line-height: $headerHeight;
  background-color: #072748;
  border-bottom: 2px solid #213c5b;
  position: fixed;
  z-index: 999999999;
  width: 100%;

  h2 {
    display: inline-block;
    background: -webkit-linear-gradient(left, #0282C8, #072648);
    background: -o-linear-gradient(right, #0282C8, #072648); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #0282C8, #072648); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #0282C8, #072648); /* 标准的语法 */
    height: 58px;
    width: 390px;
    .app-logo {
      margin-left: 25px;
      display: block;
      width: 384px;
      height: 30px;
      margin-top: 14px;
      background-image: url("../assets/images/logo-title.png");
      background-size: 384px 30px;
    }
  }

  .header-nav-list {
    float: right;
    margin-right: 20px;
    li {
      display: inline-block;
      margin-right: 10px;
      & > a {
        display: block;
        font-size: 0.8rem;
        font-weight: normal;
        height: $headerHeight;
        margin: 0 20px;
        color: $fontColor;

        &.active {
          color: #00a9ff;
          border-bottom: 3px solid #00a9ff;
        }
      }
    }
  }
  .header-nav-sublist {
    position: absolute;
    line-height: 2.2;
    width: 80%;
    left: 10%;
    background-color: #1F3A59;
    text-align: center;
    padding: 10px 0;
    display: none;
    & > a {
      box-sizing: border-box;
      border-right: 3px solid transparent;
      display: block;
      color: $fontColor;
    }
    .active {
      color: #00a9ff;
      border-right-color: #00a9ff;
    }
  }

  .pos-r {
    &:hover .header-nav-sublist {
      display: block;
    }
  }

  .user-info {
    float: right;
    margin-right: 20px;
    color: $fontColor;
  }
}

.app-content {
  background-color: #072748;
  min-height: calc(100vh - 60px);
  margin-top: 60px;
}