.productMonitor {
    overflow: hidden;
    background: #1F3A59;
    min-height: calc(100vh - 60px);
    .left-nav-box {
        width: 82px;
        height: calc(100vh - 60px);
        float: left;
        .left-nav {
            overflow: hidden;
            width: 82px;
            height: calc(100vh - 60px);
            position: fixed;
            top: 60px;
            left: 0;
            & > li {
                width: 100%;
                float: left;
                margin-top: 80px;
                padding: 4px 0;
                border-right: 3px solid transparent;
                cursor: pointer;
                .iconfont {
                    text-align: center;
                    font-size: 26px;
                    &:before {
                        display: block;
                        margin: 0 auto;
                    }
                }
                p {
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
            .active {
                color: #00A9FF;
                border-color: #00A9FF;
            }
        }
    }
    .product-container {
        width: calc(100% - 82px);
        background: #072648;
        float: left;
        .product-praise {
            background: #1F3A59;
            border-left: 3px solid #072648;
            height: 704px;
            .panel-card-body {
                overflow: visible;
            }
            //.switch-btn {
            //  top: -3%;
            //  right: 50%;
            //  transform: translateX(50%);
            //}
            .praise{
                height: 646px;
                padding-top: 30px;
                .praise-icon{
                    padding-left: 7px;
                    .iconfont{
                        font-size: 14px;
                    }
                }
                .praise-icon-up{
                    color: #DC9474;
                }
                .praise-icon-down{
                    color: #32C788;
                }
                .mt-table tr td{
                    padding: 13px 8px;
                }
            }
        }
    }
    .mb-20 {
        margin: 0;
    }
}

.product-map {
    width: 100%;
    height: 300px;
}

.product-down-map{
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.product-down{
    background: #1F3A59;
    border-top: 3px solid #072648;
    border-left: 3px solid #072648;
}

.hotWord-zoom{
    background: #1F3A59;
    height: 100%;
}

#hotWord-map2{
    height: 100%;
}